@model KN_Web.Entidades.Pago.CuentaPago
@{
    ViewBag.Title = "Consultar Cuentas de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Cuentas de Pago</h2>

<label for="consecutivo">Consecutivo:</label>
<input type="number" id="consecutivo" />
<button id="btnConsultar">Consultar</button>

<div id="resultado"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnConsultar").click(function () {
            var consecutivo = $("#consecutivo").val();

            if (!consecutivo) {
                $("#resultado").html("<p style='color: red;'>Por favor, ingrese un consecutivo válido.</p>");
                return;
            }

            $.ajax({
                url: '@Url.Action("ConsultarCuentasPago", "CuentaPago")' + "?consecutivo=" + consecutivo,
                type: 'GET',
                success: function (response) {
                    if (response.Success === false) {
                        $("#resultado").html("<p style='color: red;'>Error: " + response.Message + "</p>");
                    } else {
                        var html = "<h3>Resultados:</h3><ul>";
                        $.each(response, function (index, item) {
                            html += "<li><strong>Nombre:</strong> " + item.Nombre + " - <strong>Monto:</strong> " + item.Monto + "</li>";
                        });
                        html += "</ul>";
                        $("#resultado").html(html);
                    }
                },
                error: function () {
                    $("#resultado").html("<p style='color: red;'>Ocurrió un error al consultar las cuentas de pago.</p>");
                }
            });
        });
    });
</script>
