@model KN_Web.Entidades.Pago.MetodoPago
@{
    ViewBag.Title = "Consultar Métodos de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Métodos de Pago</h2>

<button id="btnConsultar">Consultar Métodos</button>

<div id="resultado"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnConsultar").click(function () {
            $.ajax({
                url: '@Url.Action("ConsultarMetodosPago", "MetodoPago")',
                type: 'GET',
                success: function (response) {
                    if (response.Success === false) {
                        $("#resultado").html("<p style='color: red;'>Error: " + response.Message + "</p>");
                    } else {
                        var html = "<h3>Lista de Métodos de Pago</h3><ul>";
                        $.each(response, function (index, item) {
                            html += "<li><strong>ID:</strong> " + item.Id + " - <strong>Nombre:</strong> " + item.Nombre + "</li>";
                        });
                        html += "</ul>";
                        $("#resultado").html(html);
                    }
                },
                error: function () {
                    $("#resultado").html("<p style='color: red;'>Ocurrió un error al consultar los métodos de pago.</p>");
                }
            });
        });
    });
</script>
