@model KN_Web.Entidades.Pago.TransaccionPago
@{
    ViewBag.Title = "Consultar Transacción por ID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Transacción por ID</h2>

<label for="idTransaccion">ID de Transacción:</label>
<input type="number" id="idTransaccion" />
<button id="btnBuscar">Buscar</button>

<div id="detalleTransaccion"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnBuscar").click(function () {
            var idTransaccion = $("#idTransaccion").val();

            if (!idTransaccion) {
                $("#detalleTransaccion").html("<p style='color: red;'>Por favor, ingrese un ID válido.</p>");
                return;
            }

            $.ajax({
                url: '@Url.Action("ConsultarTransaccionPorId", "TransaccionPago")' + "?idTransaccion=" + idTransaccion,
                type: 'GET',
                success: function (response) {
                    if (response.Success === false) {
                        $("#detalleTransaccion").html("<p style='color: red;'>Error: " + response.Message + "</p>");
                    } else {
                        var html = "<h3>Detalles de la Transacción</h3>";
                        html += "<p><strong>ID:</strong> " + response.Id + "</p>";
                        html += "<p><strong>Monto:</strong> " + response.Monto + "</p>";
                        html += "<p><strong>Descripción:</strong> " + response.Descripcion + "</p>";
                        $("#detalleTransaccion").html(html);
                    }
                },
                error: function () {
                    $("#detalleTransaccion").html("<p style='color: red;'>Ocurrió un error al consultar la transacción.</p>");
                }
            });
        });
    });
</script>
